{{ _("Hola") }} {% if user.first_name %}{{ user.first_name }}{% endif %}

{{ _("Alguien nos ha avisado de que has perdido tu contraseña.") }}

{{ _("Si no has sido tú, olvida este email.") }}

{{ _("Pero si has sido tú, puedes crearte una nueva contraseña en este enlace:") }}

{% block reset_link %}
    {{ protocol }}://{{ domain }}/#/reset/{{user.reset_password_token}}
{% endblock %}

{{ _("Saludos") }}
