<p>{{ _("Hola") }} {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}</p>
<p>{{ _("Alguien nos ha avisado de que has perdido tu contraseña.") }}</p>
<p>{{ _("Si no has sido tú, olvida este email.") }}</p>
<p>{{ _("Pero si has sido tú, puedes crearte una nueva contraseña en este enlace:") }}</p>
{% block reset_link %}
<p>{{ protocol }}://{{ domain }}/#/reset/{{user.reset_password_token}}</p>
{% endblock %}
<p>{{ _("Saludos") }}</p>
