<div id="login-block" ng-controller="LoginCtrl as ctrl">
    <div class="login">
        <flash-messages></flash-messages>

        <form ng-show="status == 'login'" ng-submit="ctrl.login()">
            <div class="field">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" ng-model="username"
                       placeholder="username" autofocus autofill>
            </div>
            <div class="field">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" ng-model="password"
                       placeholder="password" autofill>
            </div>
            <div class="field">
                <input type="submit" value="login" ng-click="ctrl.login()">
            </div>
        </form>

        <form ng-show="status == 'recoverPassword'" ng-submit="ctrl.recoverPassword()">
            <div class="field">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" ng-model="username"
                       placeholder="username">
            </div>
            <div class="field">
                <input type="submit" value="recover" ng-click="ctrl.recoverPassword()">
            </div>
        </form>

        <div class="login-recover-link" ng-show="status == 'login'">
            <a class="link" ng-click="status = 'recoverPassword'">Recover password</a>
        </div>

        <div class="login-recover-link" ng-show="status == 'recoverPassword' || status == 'recoveredPassword'">
            <a class="link" ng-click="status = 'login'">Login</a>
        </div>
    </div>
</div>
